<%- include('components/header') %>
<main class="container pt-5">
   <h1>Thank you for message</h1>
   <p>You name is <%= info.name %></p>
   <p>You email is <%= info.email %></p>
   <p>You subject is <%= info.subject %></p>
   <p>You message is <%= info.message %></p>
</main>
<%- include('components/footer') %>
